
/* .containerC{
    border-radius: 25px;
    background: #6abace;
    /* position: absolute; */
    /* height: 600px;
    width: 300px;
    justify-content: left;

}

.containerB{
    border-radius: 25px;
    background: #71c5da; */
    /* position: absolute; */
    /* height: 600px; */
    /* top: 0; */
    /* left: 0; */
    /* width: 800px;
    margin-left: 500px;
} */ 
/* .containerC{
    border-radius: 25px;
    background: #71c5da;
    /* position: absolute; */
    /* height: 600px; */
    /* top: 0; */
    /* right: 0; */
    /* width: 300px; */
    /* margin-right: 100px; */
/* } */ 
/* 
.containerA{
    display: flex;
    border-radius: 25px;
    background: #63ACBE;
    padding: 20px; 
    width: 1500px;
    height: 600px;
    justify-content: center;
    /* position: relative; */



/* .containerC{

} */

