<<<<<<< HEAD
.manageProfileButtons{
    display: flex;
    justify-content: center; 
    margin: 10px;
}

.profileInfo{
    display:flex;
    justify-content:center;
    margin: 10px;
    background: #72c4d8;
=======
.profileInfo{
    border-radius:15px;
    width:200px;
    height:230px;
    padding: 15px;
    margin:25px;
    border-style: solid;
    border-color: #63ACBE;
    text-align:"center";
    position:"absolute";
    top:"50%";
    transform:"translate(0, 50%)";
    margin-left:600px;
}

.buttons {
    border-radius: 50%;
>>>>>>> ro
}