.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child{
    display: flex;
<<<<<<< HEAD
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left:20px;
    margin-right:20px;
=======
    border-radius: 25px;
    background: #72c4d8;
    padding: 20px;
    border: 2px;
    height: 600px
}
#navBar{
    width: 450px;
    float: left;
>>>>>>> adah
}
#mainPart{
    width: 1215px;;
    float: right;
}


.returnHomeButtonOnProfile{
    display: flex;
    justify-content: center; 
<<<<<<< HEAD
}

.manageProfileButtons{
    display: flex;
    justify-content: center; 
    margin: 10px;
=======
    position: absolute;
    bottom: 5px;
>>>>>>> adah
}