/* .manageProfileButtons{
    display: flex;
    justify-content: center; 
    margin: 10px;
}

.yourProfilePage { 
    background: #63ACBE;
    border-radius: 25px;
} 

/* .profileInfo {
    border-radius: 25px;
} */ 